<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>com.tavant.mobile.womensecurity.UserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationData</servlet-name>
        <servlet-class>com.tavant.mobile.womensecurity.LocationData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alert</servlet-name>
        <servlet-class>com.tavant.mobile.womensecurity.UserAlert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationData</servlet-name>
        <url-pattern>/updatelocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alert</servlet-name>
        <url-pattern>/UserAlert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
